* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    /* scroll-behavior: smooth; */
}


body {
    max-width: 1200px;
    margin: auto;
}


/* classi utili  */
.container-1200px {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

.container-1000px {
    max-width: 1000px;
    margin: auto;
}

.container-800px {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}

.colonne-lunghe {
    width: 32%;
    margin: 0 0.65%;
    border: 1px solid gray;
    float: left;
    margin-top: 50px;
    height: 950px;
}

.colonne-corte {
    width: 32%;
    margin: 0 0.65%;
    float: left;
    margin-bottom: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.border {
    border: 1px solid gray;
}


/* nav --------------  */
nav {
    background-color: white;
    height: 80px;
    line-height: 80px;
    width: 1200px;
    position: fixed;
    z-index: 10;
}


.parte-sinistra {
    float: left;
}

.parte-sinistra img {
    vertical-align: text-bottom;
}

.parte-destra {
    float: right;
}

.fixed ul {
    list-style: none;
}

.fixed ul li {
    display: inline-block;
}

.link-nav {
    text-decoration: none;
    margin: 0 20px;
    color: black;
    padding-bottom: 29px;
}

.link-nav:hover {
    border-bottom: 1px solid black;
}


.bottone-nav {
    text-decoration: none;
    background-color: hsl(217deg 100% 50%);
    color: white;
    padding: 5px 15px;
}

.bottone-nav:hover {
    filter: brightness(2);
}



/* header  */
.header {
    background-color: hsl(207deg 52% 81%);
    padding-top: 50px;
    height: 600px;
}

.colonna-sinistra {
    width: 30%;
    float: left;
}

.colonna-destra {
    width: 60%;
    float: left;
}

.colonna-destra img {
    width: 120%;
}

header h1 {
    font-size: 3.2rem;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 40px;
}

.link-header {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
}

.fa-arrow-down {
    padding-top: 20px;
    font-size: 2em;
    color: black;
}



/* section numero 1  */
#section1 {
    padding-top: 100px;
}

.container-800px h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.pallino {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid black;
}

.pallino-blu {
    background-color: white;
    border: 4px solid blue;
}


/* colonne lunghe contenuto  */
.colonne-lunghe p {
    text-align: center;
    line-height: 40px;
}

.riga {
    border-bottom: 1px solid gray;
}

.contenuto-colonne {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.contenuto-colonne h3 {
    margin-bottom: 20px;
}

.contenuto-colonne .prezzo {
    font-weight: bold;
    margin-bottom: 10px;
}

.mese {
    color: gray;
    margin-bottom: 30px;
}

.utente {
    margin-bottom: 20px;
}

.link-colonne {
    color: blue;
}

.oppure {
    display: inline-block;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.sottotitolo-colonne {
    font-weight: 700;
    margin-top: 20px;
}


.fa-check {
    color: blue;
}

.margin {
    margin: 20px 0;
}

.row {
    width: 100%;
}

.row-left {
    float: left;
}

.row-left-width1 {
    width: 2%;
    margin-right: 20px;
}

.row-left-width {
    width: 85%;
}



/* section enterprise ------------ */
.enterprise p {
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.novantacinque {
    width: 95%;
    margin: auto;
    margin-top: 25px;
}

.row {
    width: 100%;
}

.row h3 {
    float: left;
}

.row a {
    float: right;
    margin: 0 0;
}

.strong {
    font-weight: bold;
    margin-top: 10px;
}

.paragrafo-enterprise {
    margin: 25px 0;
}



/* section con foto a destra e testo a sinistra  */
.colonna-50-sinistra {
    width: 50%;
    float: left;
}

.colonna-50-sinistra img {
    width: 100%;
}

.testo-sinistra {
    padding-left: 30px;
}

.colonna-50-sinistra h4 {
    font-size: 2em;
    margin-bottom: 25px;
}

.colonna-50-sinistra p {
    line-height: 1.5em;
}

.colonna-50-sinistra a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    border: 1px solid black;
    margin-top: 20px;
}





/* section con le sei colonnine corte  */
.colonne-corte img {
    width: 98%;
}

.colonne-corte h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.colonne-corte a {
    color: black;
}






/* section clienti affiliati  */
.link-clienti {
    color: blue;
}

.quadrato-grande-esterno {
    width: 30%;
    float: left;
}

.quadrato-grande-centro {
    width: 40%;
    float: left;
    background-color: hsl(0deg 0% 96%);
    height: calc(131px * 2);
    overflow: auto;
}

.quadrato-piccolo {
    width: 50%;
    height: 131px;
    float: left;
    text-align: center;
}

/* quattro quadratini a sinistra, colore sfondi  */
.colore-verde {
    background-color: hsl(113deg 39% 72%);
    border: 10px solid hsl(114deg 39% 86%);
}

.colore-bordeaux {
    background-color: hsl(336deg 85% 21%);
}

.colore-florida {
    background-color: hsl(197deg 100% 40%);
}


.topps {
    background-color: hsl(0deg 100% 55%);
}



/* quadrato centrale contenuto  */
.contenuto-quadrato-grande {
    width: 85%;
    margin: auto;
}

.design {
    border-bottom: 1px solid black;
}

.contenuto-quadrato-grande p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.80rem;
}




/* quattro quadratini a destra, colore sfondi  */
.colore-bicycle {
    background-color: hsl(351deg 100% 42%);
}

.colore-hearts {
    background-color: hsl(207deg 52% 81%);
}

.colore-planet {
    background-color: hsl(228deg 82% 28%);
}

.colore-channel {
    background-color: hsl(49deg 100% 59%);
}



/* section porta dropbox business  */
.section-dropbox-business {
    background-color: hsl(207deg 52% 81%);
    margin-top: -100px;
}

.section-dropbox-business-contenuto {
    padding-top: 100px;
    padding-bottom: 100px;
}


.section-dropbox-business h2 {
    display: inline-block;
    line-height: 1.3em;
    font-size: 2rem;
}

.section-dropbox-business a {
    color: black;
    background-color: white;
    float: right;
}




/* section domande frequenti  */
.container-800px-domande {
    max-width: 800px;
    margin: auto;
    /* margin-bottom: 60px; */
    line-height: 100px;
}

.domande-frequenti h2 {
    font-size: 2rem;
    margin-bottom: 60px;
}

.border-bottom-domande {
    border-bottom: 1px solid gray;
}


.fa-angle-down {
    font-size: 2em;

}


.row-domande-requenti {
    width: 100%;
}

.row-domande-float-left {
    float: left;
}

.row-domande-float-right {
    float: right;
    padding-right: 20px;
    padding-top: 6px;
    vertical-align: middle;
}

#hidden-text {
    line-height: 1.5em;
    color: gray;
    display: none;
}

.row-domande-requenti:hover~#hidden-text {
    display: inline-block;
}



/* footer  */
.color-black {
    background-color: black;
    color: white;
    margin-top: 100px;
    margin-bottom: 0;
}

.padding-top-footer {
    padding-top: 80px;
}

.container-1000px ul {
    list-style: none;
}

.li-float-left {
    width: calc(1000px / 5);
    float: left;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

.li-float-left h3 {
    margin-bottom: 20px;
}


.container-1000px ul a {
    text-decoration: none;
    color: white;
    line-height: 2em;
}

.border-bottom-li {
    border-bottom: 1px solid gray;
}

.italiano {
    text-align: left;
    padding-bottom: 50px;
    color: gray;
}

.italiano a {
    color: gray;
    text-decoration: none;
}